.Home{
    background-color: rgb(109, 129, 155);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
    .Cards{
        margin: auto;
        z-index: 100;
    }
    .Buttons{
        z-index: 300;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        
        .Button{
            background-color: #42c3e4;
            color: rgb(65, 56, 27);
            border: none;
            font-size: 50px;
            height: 80px;
            width: 80px;
            box-shadow: 0 2px 8px rgb(26, 29, 29);
            cursor: pointer;
            transition: all 0.2s ease;
            border-radius: 20%;
            text-align: center;
            margin-left: 30px;    
        }
        .Button:active{
            background-color: #48abe0;
            box-shadow: 0 0 2px darkslategray;
            transform: translateY(2px);
        }
         
    }
}